PORT = #tu puerto

SECRET = #"miclavesecreta123"


DB_URI=#url db

JWT_SECRET = #secreto
REFRESH_SECRET = #sercretorefresh


GITHUB_CLIENT_ID= # Id_cliente Github
GITHUB_CLIENT_SECRET= # Id_cliente secreto Github
GITHUB_CALLBACK_URL=#"http://url/api/auth/github/callback"